
body {
  font-family: 'Alternate Gothic', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000000;
  margin: 80px 10px;
}

video {
  width: 40vw;
  height: 30vw;
  margin: 2rem;
  background: #293249;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropButton {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropButton:hover, .dropButton:focus {
  background-color: #293249;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

.modal-container{
  width: 40vw;
  height: 60vh;
  background-color: white;
  border-radius: 10%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-container div{
  margin-top: 3rem;
}

.modal-container button{
  margin: 1rem;
  width: 35%;
}

.modal-container p {
  margin: 1rem;
  font-size: 25px;
}

.modal-content-1 {
  height: 100%;
  display: block;
}

.modal-content-1 h3 {
  margin-top: 5rem;
}

.modal-content-2{
  height: 100%;
  display: none;
}

.modal-content-3 {
  height: 100%;
  display: none;
}

.modal-content-4 {
  height: 100%;
  display: none;
}
