body {
  font-family: 'Alternate Gothic', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000000;
  margin: 80px 10px;
}

video {
  width: 40vw;
  height: 30vw;
  margin: 2rem;
  background: #293249;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatArea {
  display: flex; 
  flex-direction: column;
  width: 30%;
  margin: 10px auto;
}

.chatObject {
  margin-bottom: 5px;
  padding: 0.8rem 1rem;
  border-radius: 15px;
}


.sendContainer {
  display: flex;
  flex-direction: row;
}

#dataChannelSend {
  width: 75%;
  margin: 0.5rem;
}

#sendMessageButton {
  background-color: #5dc4ff;
  width: 50%;
  margin: 0.5rem;
}

.buttons {
  margin-top: 30px;
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

.modal-container{
  width: 40vw;
  height: 60vh;
  background-color: white;
  border-radius: 10%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-container div{
  margin-top: 3rem;
}

.modal-container button{
  margin: 1rem;
  width: 35%;
}

.modal-container p {
  margin: 1rem;
  font-size: 25px;
}

.modal-content-1 {
  height: 100%;
  display: block;
}

.modal-content-1 h3 {
  margin-top: 5rem;
}

.modal-content-2{
  height: 100%;
  display: none;
}

.modal-content-3 {
  height: 100%;
  display: none;
}

.modal-content-4 {
  height: 100%;
  display: none;
}
